<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 为这个mapper指定一个唯一的namespace，namespace的值习惯上设置成包名+sql映射文件名，这样就能够保证namespace的值是唯一的 -->
<mapper namespace="com.crm.dao.ProductInfoDao">
    
    <resultMap id="baseResult" type="com.crm.model.ProductInfo">
		<id column="id" property="id"/>
		<result column="productcode" property="productCode"/> 
		<result column="productname" property="productName"/>
		<result column="contactpersion" property="contactPersion"/>
		<result column="phone" property="phone"/>
		<result column="address" property="address"/>
		<result column="is_delete" property="is_delete"/> 
	</resultMap>

	
    <!-- 添加数据 -->
    <insert id="add" parameterType="com.crm.model.ProductInfo">
    	<selectKey keyProperty="id" order="AFTER" resultType="int">
    		select LAST_INSERT_ID()
    	</selectKey>
        insert into  productinfo
        (productcode,productname,contactpersion,phone,address,is_delete) 
        value
        (#{id},#{productCode},#{productName},#{contactPersion},#{phone},#{address},#{is_delete})
    </insert>
    
    <!-- 删除数据 -->
    <delete id="del" parameterType="int">
        delete from t_user where id = #{id}
    </delete>
    
    <!-- 修改数据 -->
    <update id="update" parameterType="com.crm.model.ProductInfo">
        update t_user set name=#{name},age=#{age} where id=#{id}
    </update>
    
    <!--根据id查询得到一个user对象-->
    <select id="queryAllProductInfo" parameterType="int" resultType="com.crm.model.ProductInfo">
        SELECT * FROM productinfo where is_delete=0
    </select>
    
    <select id="queryAllProductInfo2" parameterType="int" resultMap="baseResult">
     
    
    </select>
    
    
    
</mapper>