<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/images/favicon.ico">

    <title>Deposito Admin - Dashboard  Blank Page </title>
  
	<!-- Vendors Style-->
	<link rel="stylesheet" href="/css/vendors_css.css">
	  
	<!-- Style-->  
	<link rel="stylesheet" href="/css/style.css">
	<link rel="stylesheet" href="/css/skin_color.css">
	<link rel="stylesheet" href="\assets\vendor_components\datatable\dataTables.dataTables.css">	
	<link rel="stylesheet" href="\assets\vendor_components\datatable\buttons.dataTables.css">	

</head>
<body class="hold-transition light-skin sidebar-mini theme-primary fixed">
	
<div class="wrapper">
	<div id="loader"></div>

  
  
  <div th:replace="index :: header"></div>
  <div th:replace="index :: menu"></div>
  

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
	  <div class="container-full">
		<!-- Content Header (Page header) -->
		<div class="content-header">
			<div class="d-flex align-items-center">
				<div class="me-auto">
					<h4 class="page-title">Orders</h4>
					<div class="d-inline-block align-items-center">
						<nav>
							<ol class="breadcrumb">
								<li class="breadcrumb-item"><a href="#"><i class="mdi mdi-home-outline"></i></a></li>
								<li class="breadcrumb-item" aria-current="page">e-Commerce</li>
								<li class="breadcrumb-item active" aria-current="page">Orders</li>
							</ol>
						</nav>
					</div>
				</div>
				
			</div>
		</div>

		<!-- Main content -->
		<section class="content">

		  <div class="row">
			  <div class="col-12">
				<div class="box">
				
				  <div class="box-body">
				  
					<div class="table-responsive">
						<!-- <table id="productorder" class="table table-hover no-wrap product-order" data-page-size="10"> -->
							<table id="productorder" class="table table-striped table-bordered display" data-page-size="20" style="width:100%">
							
							<thead>
								<tr>
                    			 <th>订单编号</th>
                     			 <th>产品名称</th>
                      			 <th>单价(吨)</th>
                      			 <th>数量（桶）</th>
                      			 <th>重量</th>
                      			 <th>总金额</th>
                      			 <th>预计盈利</th>
                      			  <th>订单日期</th>
                       			 <th>订单状态</th>
                      			 <th ></th>
								</tr>
							</thead>
							<tbody>
								
							<tr th:each="order , orderstatus : ${orderList}">
								<td >
								<a href="javascript:void(0)" th:text="${order.orderCode}">Order #123456</a>
								</td>
                      			<td th:text="${order.productCode}">白乳胶 </td>
                       			<td th:text="${order.unitprice}">2200</td>
                      			<td th:text="${order.quantity}+'桶'">8</td>
                     			<td th:text="${order.weight}+'kg'">8</td>
                      			<td th:text="${order.totalPrice}">200</td>
                      			<td th:text="${order.profit}">200</td>
                      			<td th:text="${#dates.format(order.orderDate,'yyyy-MM-dd')}">200</td>
								<td>
								<span class="badge badge-pill badge-warning" th:if="${order.orderStatus == '0'}">出库</span>
								<span class="badge badge-pill badge-warning" th:if="${order.orderStatus == '1'}">完成</span>
								<span class="badge badge-pill badge-warning" th:if="${order.orderStatus == '-1'}">退货</span>
								</td>
									<td><a th:href="'/order/ordereditpage?orderCode='+ ${order.orderCode}" class="text-info me-10" data-bs-toggle="tooltip" data-bs-original-title="Ediwt">
											<i class="ti-marker-alt"></i>
										</a> 
										<a th:href="'/order/orderdelete?orderCode='+ ${order.orderCode}+'&orderType=1'" class="text-danger" data-bs-original-title="Delete" data-bs-toggle="tooltip">
											<i class="ti-trash"></i>
										</a>
									</td>
								</tr>

							</tbody>						
						</table>
					</div>
				  </div>
				</div>
			  </div>		  
		  </div>

		</section>
		<!-- /.content -->
	  </div>
  </div>
  <!-- /.content-wrapper -->
 
   <footer class="main-footer">
    <div class="pull-right d-none d-sm-inline-block">
        <ul class="nav nav-primary nav-dotted nav-dot-separated justify-content-center justify-content-md-end">
		  <li class="nav-item">
			<a class="nav-link" href="javascript:void(0)">FAQ</a>
		  </li>
		  <li class="nav-item">
			<a class="nav-link" href="#">Purchase Now</a>
		  </li>
		</ul>
    </div>
	  &copy; <script>document.write(new Date().getFullYear())</script> <a href="https://www.multipurposethemes.com/">Multipurpose Themes</a>. All Rights By <a href="http://www.bootstrapMB.com/">bootstrapmb</a>.
  </footer>
  <!-- Control Sidebar -->
  
  <!-- /.control-sidebar -->
  
  <!-- Add the sidebar's background. This div must be placed immediately after the control sidebar -->
  <div class="control-sidebar-bg"></div>
</div>
<!-- ./wrapper -->
	
	<!-- ./side demo panel -->
	
	<!-- Sidebar -->
	
	
	
	<!-- Page Content overlay -->
	
	
	<!-- Vendor JS -->
	 <script src="/js/jquery3.7.js"></script>
	<script src="/js/vendors.min.js"></script>
    <script src="/assets/icons/feather-icons/feather.min.js"></script>	
     <script src="/assets/vendor_components/datatable/datatables.min.js"></script> 
    <script src="/assets/vendor_components/datatable/dataTables.buttons.min.js"></script>
    <script src="/assets/vendor_components/datatable/buttons.dataTables.js"></script>
   
	
	<!-- Deposito Admin App -->
	<script src="/js/template.js"></script>   
	    
	<script src="/js/pages/data-table.js"></script>
	
	<script type="text/javascript">
	
	

	
	</script>

</body>
</html>
