<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- <link rel="icon" href="/images/favicon.ico"> -->

    <title>Deposito Admin - Dashboard  Form Validation </title>
  
	<!-- Vendors Style-->
	<link rel="stylesheet" href="/css/vendors_css.css">
	  
	<!-- Style-->  
	<link rel="stylesheet" href="/css/style.css">
	<link rel="stylesheet" href="/css/skin_color.css">

</head>
<body class="hold-transition light-skin sidebar-mini theme-primary fixed">
	
<div class="wrapper" style="height: auto; min-height: 100%;">

  
  
  <!-- Left side column. contains the logo and sidebar -->
    <div th:replace="index :: header"></div>
  <div th:replace="index :: menu"></div>
  
  
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
	  <div class="container-full">
		<!-- Content Header (Page header) -->
		<div class="content-header">
			<div class="d-flex align-items-center">
				<div class="me-auto">
					<h4 class="page-title">出库订单</h4>
					<div class="d-inline-block align-items-center">
						<nav>
							<ol class="breadcrumb">
								<li class="breadcrumb-item"><a href="#"><i class="mdi mdi-home-outline"></i></a></li>
								<li class="breadcrumb-item" aria-current="page">首页</li>
								<li class="breadcrumb-item active" aria-current="page">白乳胶进出库</li>
							</ol>
						</nav>
					</div>
				</div>
				
			</div>
		</div>	  

		<!-- Main content -->
		<section class="content">

					<ul class="nav nav-tabs" role="tablist">
						<li class="nav-item"> <a class="nav-link active" data-bs-toggle="tab" href="#orderout" role="tab"><span class=""><i class="ion-home"></i></span> <span class="">白乳胶出库</span></a> </li>
						<li class="nav-item"> <a class="nav-link" data-bs-toggle="tab" href="#orderin" role="tab"><span class=""><i class="ion-person"></i></span> <span class="">白乳胶进库</span></a> </li>
						<li class="nav-item"> <a class="nav-link" data-bs-toggle="tab" href="#orderjiesuan" role="tab"><span class=""><i class="ion-person"></i></span> <span class="">白乳胶结算</span></a> </li>
					</ul>
					<!-- Tab panes -->
					<div class="tab-content tabcontent-border">
						<!-- ******************白乳胶出库订单 *******************-->
						<div class="tab-pane active" id="orderout" role="tabpanel">
							<div class="box">
			<div class="box-header with-border">
		
			  <h4 class="box-title">白乳胶出库</h4>
			</div>
			<!-- /.box-header -->
			<div class="box-body">
			  <div class="row">
				<div class="col">
					<form  action="/order/orderadd">
					  <div class="row">
					  <input name=orderType type="hidden" value="1">
					  
						<div class="col-12">						
						<div class="form-group">
								<h5>产品名称<span class="text-danger">*</span></h5>
								<div class="controls">
									<select name="productCode" id="productCodeOut"  class="form-select" onchange="getProductOutPrice()">
										<option  th:each="productInfo : ${productList}" th:value="${productInfo.productCode}"  th:text="${productInfo.productName}+'('+${productInfo.remark}+')'"></option>
									</select>
								</div>
							</div>
							
						<div class="form-group">
						<h5>重量 <span class="text-danger"></span></h5>
						<div class="demo-radio-button" style="padding-top:5px">
						<input name="weightOut" type="radio" id="radio_1"  value="50" checked="" onchange="getProductOutPrice()">
						<label for="radio_1" style="margin-bottom:0px;min-width: 150px">大桶（50KG）</label>
						<input name="weightOut" type="radio" id="radio_2" value="20" onchange="getProductOutPrice()">
						<label for="radio_2" style="margin-bottom:0px;min-width: 70px">小桶(20KG)</label>
						</div>
						</div>
				
				
						<div class="form-group">
								<h5>产品单价（吨） <span class="text-danger">*</span></h5>
								<div class="controls">
									<input type="text" id="unitpriceOut" name="unitprice" class="form-control" value="" required data-validation-required-message="必填字段"> 
								</div>
						</div>
						<div class="form-group">
								<h5>数量（桶） <span class="text-danger">*</span></h5>
								<div class="controls">
									<input type="number" name="quantity" class="form-control" value=""  required  data-validation-required-message="This field is required" min="1"> 
								</div>
						</div>
						

				
					 			<div class="form-group">
									<label class="col-form-label col-md-2">Date</label>
									<div class="col-md-10">
									<input class="form-control" type="date" name="orderDate" value="">
									</div>
								</div>
					
					
							<div class="form-group">
								<h5>装车费<span class="text-danger"></span></h5>
								<div class="controls">
									<input type="number" name="orderFreight" class="form-control" value="" > 
								</div>
						</div>
				
						</div>
							
						</div>
					 
						
						<div class="text-xs-right">
							<button type="submit" class="btn btn-info">提交</button>
							<button type="button" onclick="goBack()" class="btn btn-info">取消</button>
						</div>
					</form>
 </div>
				</div>
				<!-- /.col -->
			  </div>
			  <!-- /.row -->
			</div>
						</div>
						
							<!-- ******************白乳胶进库 *******************-->
						<div class="tab-pane" id="orderin" role="tabpanel">
							<div class="box">
			<div class="box-header with-border">
		
			  <h4 class="box-title">白乳胶进库</h4>
			</div>
			<!-- /.box-header -->
			<div class="box-body">
			
			<form  action="/order/order/whiteLatexInStorage">
			<h4 class="box-title text-primary mb-0"><i class="ti-user me-15"></i>添加商品</h4>
			<hr class="my-15">
			  <div class="row">
				<div class="col">
					<form  action="">
					  <div class="row">
					  
						<div class="col-12" style="padding-bottom:30px">						
							
							
							<div class="form-group" >
								<h5>订单编号:</h5>
								<div class="controls" >
									<input type="text" id="orderCodeIn" name="orderCodeIn" class="form-control" disabled ="disabled " th:value="${newOrderCode}"  required data-validation-required-message="必填字段"> 
								</div>
							</div>
							
								<div class="form-group">
									<label class="col-form-label col-md-3">订单日期：</label>
									<div class="">
									<input class="form-control" type="date" name="orderDate" value="">
									</div>
								</div>
							
								<div class="form-group">
								<h5>产品名称<span class="text-danger">*</span></h5>
								<div class="controls">
									<select name="productCode" id="productCodeIn"  class="form-select" onchange="getProductInPrice()">
										<option  th:each="productInfo : ${productList}" th:value="${productInfo.productCode}"  th:text="${productInfo.productName}+'('+${productInfo.remark}+')'"></option>
									</select>
								</div>
							</div>
							
							<div class="form-group">
						<h5>重量 <span class="text-danger"></span></h5>
						<div class="demo-radio-button" style="padding-top:5px">
						<input name="weightIn" type="radio" id="radio_3"  value="50" checked="" onchange="getProductInPrice()">
						<label for="radio_3" style="margin-bottom:0px;min-width: 150px">大桶（50KG）</label>
						<input name="weightIn" type="radio" id="radio_4" value="20" onchange="getProductInPrice()">
						<label for="radio_4" style="margin-bottom:0px;min-width: 70px">小桶(20KG)</label>
						</div>
						</div>
						
						<div class="form-group">
								<h5>产品单价（吨） <span class="text-danger">*</span></h5>
								<div class="controls">
									<input type="text" id="unitpriceIn" name="unitpriceIn" class="form-control" value="" required data-validation-required-message="必填字段"> 
								</div>
						</div>
						
						<div class="form-group">
								<h5>数量（桶） <span class="text-danger">*</span></h5>
								<div class="controls">
									<input type="number" name="quantity" class="form-control" value=""  required  data-validation-required-message="This field is required" min="1"> 
								</div>
						</div>
						
							<div class="text-xs-right">
							<button type="button" class="btn btn-info" onclick="addOrderlist()">添加</button>
						</div>
						
								</div>
								
				</div>
					  </div>
								
			
						
						
						
		<div class="col-12 col-lg-12" id="orderList" style="display:none">
		
			<h4 class="box-title text-info mb-0"><i class="ti-user me-15"></i>订单信息</h4>
			<hr class="my-15">
			  <div class="box">
				<div class="box-header with-border">
				  <h4 class="box-title">Small table</h4>
				</div>
				<!-- /.box-header -->
				<div class="box-body">
					<div class="table-responsive">
					  <table class="table table-sm mb-0">
						  <tbody>
							<tr>
							  <th scope="col">商品名称</th>
							  <th scope="col">单价</th>
							  <th scope="col">重量</th>
							  <th scope="col">数量</th>
							</tr>
						  </tbody>
						  <tbody>
							<tr id="tempTr" style="display:none">
							  <td name="tempName">白乳胶</td>
							  <td name="tempUnit">1800</td>
							  <td name="tempWei">大桶</td>
							  <td name="tempQuan">200桶</td>
							</tr>
						  </tbody>
						</table>
					</div>
				</div>
				
											<div class="form-group">
								<h5>备注<span class="text-danger"></span></h5>
								<div class="controls">
									<input type="text" name="" class="form-control" value="" > 
								</div>
						</div>
					
							
					
					
						
						<div class="text-xs-right">
							<button type="submit" class="btn btn-info">提交</button>
							<button type="button" onclick="goBack()" class="btn btn-info">取消</button>
						</div>
				<!-- /.box-body -->
			  </div>
			  <!-- /.box -->
			</div>
				
					 		
					
					

					</form>

				</div>
				<!-- /.col -->
			  </div>
			  <!-- /.row -->
			</div>
							
							
						</div>
						
						
							<!-- ******************白乳胶结算 *******************-->
						
						<div class="tab-pane" id="orderjiesuan" role="tabpanel">
							<div class="box">
			<div class="box-header with-border">
		
			  <h4 class="box-title">白乳胶结算</h4>
			</div>
			<!-- /.box-header -->
			<div class="box-body">
			  <div class="row">
				<div class="col">
					<form  action="">
					  <div class="row">
					  <input name=orderType type="hidden" value="1">
					  
						<div class="col-12">						
							
							

				
							<div class="form-group">
								<h5>结算金额<span class="text-danger"></span></h5>
								<div class="controls">
									<input type="number" name="" class="form-control" value="" > 
								</div>
							</div>
						
						

				
					 			<div class="form-group">
									<label class="col-form-label col-md-2">结算日期</label>
									<div class="col-md-10">
									<input class="form-control" type="date" name="orderDate" value="">
									</div>
								</div>
					
					
							<div class="form-group">
								<h5>备注<span class="text-danger"></span></h5>
								<div class="controls">
									<input type="text" name="" class="form-control" value="" > 
								</div>
						</div>
				
						</div>
							
						</div>
					  </div>
						
						<div class="text-xs-right">
							<button type="submit" class="btn btn-info">提交</button>
							<button type="button" onclick="goBack()" class="btn btn-info">取消</button>
						</div>
					</form>

				</div>
				<!-- /.col -->
			  </div>
			  <!-- /.row -->
			</div>
							
							
						</div>

					</div>


		 <!-- Basic Forms -->
		  
			<!-- /.box-body -->
		  </div>
		  <!-- /.box -->

		</section>
		<!-- /.content -->
	  </div>
  </div>
  <!-- /.content-wrapper -->
  
   <footer class="main-footer">
    <div class="pull-right d-none d-sm-inline-block">
        <ul class="nav nav-primary nav-dotted nav-dot-separated justify-content-center justify-content-md-end">
		  <li class="nav-item">
			<a class="nav-link" href="javascript:void(0)">FAQ</a>
		  </li>
		  <li class="nav-item">
			<a class="nav-link" href="#">Purchase Now</a>
		  </li>
		</ul>
    </div>
	  &copy; <script>document.write(new Date().getFullYear())</script> <a href="https://www.multipurposethemes.com/">Multipurpose Themes</a>. All Rights By <a href="http://www.bootstrapMB.com/">bootstrapmb</a>.
  </footer>
  <!-- Control Sidebar -->
  
  <!-- /.control-sidebar -->
  
  <!-- Add the sidebar's background. This div must be placed immediately after the control sidebar -->
  <div class="control-sidebar-bg"></div>
<!-- ./wrapper -->
	
	<!-- ./side demo panel -->
	
	<!-- Sidebar -->
	
	
	
	<!-- Page Content overlay -->
	
	
	<!-- Vendor JS -->
	<script src="/js/vendors.min.js"></script>
	<script src="/js/pages/advanced-form-element.js"></script>
    <script src="/assets/icons/feather-icons/feather.min.js"></script>	
	<script src="/assets/vendor_components/bootstrap-select/dist/js/bootstrap-select.js"></script>
	<script src="/assets/vendor_components/bootstrap-tagsinput/dist/bootstrap-tagsinput.js"></script>
	<script src="/assets/vendor_components/bootstrap-touchspin/dist/jquery.bootstrap-touchspin.min.js"></script>
	<script src="/assets/vendor_components/select2/dist/js/select2.full.js"></script>
	<script src="/assets/vendor_plugins/input-mask/jquery.inputmask.js"></script>
	<script src="/assets/vendor_plugins/input-mask/jquery.inputmask.date.extensions.js"></script>
	<script src="/assets/vendor_plugins/input-mask/jquery.inputmask.extensions.js"></script>
	<script src="/assets/vendor_components/moment/min/moment.min.js"></script>
	<script src="/assets/vendor_components/bootstrap-daterangepicker/daterangepicker.js"></script>
	<script src="/assets/vendor_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
	<script src="/assets/vendor_components/bootstrap-colorpicker/dist/js/bootstrap-colorpicker.min.js"></script>
	<script src="/assets/vendor_plugins/timepicker/bootstrap-timepicker.min.js"></script>
	
	<script type="text/javascript">
	
	$(function(){
		getProductOutPrice();
		getProductInPrice();
	});
	
	function getProductOutPrice(){
		var pc=$("#productCodeOut").val();
		var wei=$("input[name='weightOut']:checked").val();
		
		
		$.ajax({
			url:"http://localhost:8080/order/getProductPrice",
			data:{productCode :pc,weight:wei},
			success: function (result){
				$("#unitpriceOut").val(result);
			},
			error: function(){
				console.log("Send Request Fail..")
			}
		})
	}
	
	function getProductInPrice(){
		var pc=$("#productCodeIn").val();
		var wei=$("input[name='weightIn']:checked").val();
		
		
		$.ajax({
			url:"http://localhost:8080/order/getProductPrice",
			data:{productCode :pc,weight:wei},
			success: function (result){
				$("#unitpriceIn").val(result);
			},
			error: function(){
				console.log("Send Request Fail..")
			}
		})
	}
	
	function goBack(){
		window.location.href="http://localhost:8080/order/orderoutlist"; 
		
	}
	
	function addOrderlist(){
		$("#orderList").show();
		
		alert($("#productCodeIn").val());
		/* var newtr=$("#tempTr").clone();
		newtr.removeAttr("id");
		newtr.find("th[name=tempUnit]").text();
		newtr.find("th[name=tempWei]")
		newtr.find("th[name=tempQuan]") */
		
	}
	</script>
</body>
</html>
